<div class="container-fluid py-4 min-vh-100">
  <div class="row g-4">
    <aside class="col-2">
      <app-field-palette
        [templateName]="template().name"
        [widthMm]="template().widthMm"
        [lengthMm]="template().lengthMm"
        [barcodeFormat]="template().barcodeFormat"
        (templateNameChange)="onTemplateNameChange($event)"
        (widthChange)="onWidthChange($event)"
        (lengthChange)="onLengthChange($event)"
        (barcodeFormatChange)="onBarcodeFormatChange($event)"
        (fieldAdd)="onFieldAdd($event)"
      />
    </aside>
    <main class="col-6">
      <app-editor-toolbar
        [textStyle]="textStyleForToolbar()"
        (textStyleChange)="onTextStyleChange($event)"
        (print)="onPrint()"
        (printCard)="onPrintCard()"
      />
      <div class="mb-3">
        <app-label-canvas
          [template]="template()"
          (elementSelected)="selectedId.set($event?.id ?? null)"
          (elementsChange)="onElementsChange($event); "
          (generateTemplate)="onGenerateTemplate()"
        />
      </div>
    </main>
  </div>
</div>
